[submodule "vim/vim_symlink/bundle/vundle"]
	path = vim/vim_symlink/bundle/vundle
	url = git://github.com/gmarik/Vundle.vim
[submodule "vim/vim.symlink/bundle/Vundle.vim"]
	path = vim/vim.symlink/bundle/Vundle.vim
	url = git://github.com/gmarik/Vundle.vim
[submodule "vim/vim.symlink/bundle/vundle"]
	path = vim/vim.symlink/bundle/vundle
	url = git://github.com/gmarik/Vundle.vim
